* {
    margin: 0;
}

.HorizontalCards {
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/************/
/* List box */
.HorizontalCards {
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.HorizontalCards button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 50pt;
}

/********/
/* Card */
.CardsContainer {
    position: relative;

    width: 700px;
    max-width: 700px;
    height: 500px;
    z-index: 8000;

    overflow: visible;
    /* overflow: hidden; */
}

.HorizontalCards .Card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: 200px;
    height: 450px;
    border-radius: 20px;
    padding: 20px;
    letter-spacing: .1em;
}

.HorizontalCards li {
    transition: all .3s ease-out;
}

.HorizontalCards .Card h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: center;
    height: 80px;
    width: 80%;
    font-size: 20pt;
}
.HorizontalCards .Card p {
    text-align: justify;
    font-weight: lighter;
    line-height: 1.4em;
}

/****************/
/* Card Position*/
.HorizontalCards .mainCard {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(100%);
    
    z-index: 100;
}
.HorizontalCards .prevCard {
    position: absolute;
    top: 50%;
    left: 20%;

    z-index: 80;
}
.HorizontalCards .nextCard {
    position: absolute;
    top: 50%;
    left: 80%;

    z-index: 80;
}
.HorizontalCards .hiddenPrev {
    position: absolute;
    top: 50%;
    left: 0%;

    z-index: 70;
}
.HorizontalCards .hiddenNext {
    position: absolute;
    top: 50%;
    left: 100%;

    z-index: 70;
}
.HorizontalCards .hiddenCard {
    position: absolute;
    top: 50%;
    left: 50%;

    z-index: -1200;
}

.HorizontalCards .prevCard, .HorizontalCards .nextCard {
    user-select: none;
    cursor: pointer;
    filter: blur(2px) grayscale(20%);
    transform: translate(-50%, -50%) scale(80%);
}
.HorizontalCards .prevCard:hover, .HorizontalCards .nextCard:hover {
    filter: blur(0px) grayscale(10%);
}

.HorizontalCards .hiddenPrev, .HorizontalCards .hiddenNext, .HorizontalCards .hiddenCard {
    opacity: 0;
    user-select: none;
    cursor: pointer;
    filter: blur(2px) grayscale(20%);
    transform: translate(-50%, -50%) scale(10%);
}


/**********/
/* Button */
button {
    opacity: 0.3;
    transition: opacity ease-in .4s;
}

button:hover {
    opacity: 1;
}