@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  background: #3b4b59;
}

