body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #c6c6c6;
  background-color: #141a29;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-wrapper {
  height: 100px;
  margin-top: 10px;
}

.info {
  width: 500px;
  text-align: justify;
  text-justify: auto;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  font-size: 10.5pt;
  background-color: #ff7b002d;
}